@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Average');
@import url("https://use.typekit.net/drt3nwk.css");

body {
	background: #261631;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");
	// font-size: 18px;
}

header {
	background:url(./header-bg.svg);
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;

	.mainNav {
		height: 50px;
		display: flex;
		align-items: center;

		h1 {
			margin: 0;
			padding-left: 12px;
			color: #fff;
			font-family: 'Fjalla One', sans-serif;
			font-size: 1.4rem;
			text-transform: uppercase;
			text-shadow: 1px 1px 2px #1888B2;
			flex: 1 0 auto;

			a {
					color: #fff;
					text-decoration: none;
				}
		}

		label {
			display: none;
		}

		input {
			margin-right: 12px;
			padding: 2px 8px;
			width: 550px;
			border: 0;
			border-radius: 2px;
			font-style: italic;
			flex: 0 0 auto;
		}
	}
}

main {
	background-color: #fff;
}

footer {
	border-top: 1px solid #FFD316;
	display: flex;
	justify-content: center;

	.footerContent{
		padding: 24px;
		color: #FFD316;
		font-family: "brandon-grotesque",sans-serif;
		font-size: .75rem;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px #000;
		text-align: center;
	}
}
